# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6 
print(number)

6

##### Assinging float

In [2]:
numberFloat=1.4
print(numberFloat)

1.4

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1=1
num2=5.5
result= num1+num2
result+=2
print(result)

8.5

##### Subtraction

In [5]:
num1=1
num2=5.5
result= num1-num2
result+=2
print(result)

-2.5

##### Multiplication

In [8]:
num1=1.9
num2=5.5
result_mult= num1*num2
result_mult+=2
print(result)

7.5

##### Division

In [10]:
num1=6
num2=5
result_div= num1/num2
print(result_div)

1.2

##### Floor Division

In [14]:
num2=40
num1=6
result_floor= num2 // num1
print(result_floor)

6

##### Modulo

In [17]:
num2=44
num1=2
result_mod= num2 % num1
print(result_mod)

0

##### Exponential

In [18]:
square = 5 ** 3
print(square)

125

### String Input-Output

##### String Assignment

In [21]:
name="Emmanuel"
print(name)

Emmanuel

##### print() <br>
<p>Don't forget about end=' '</p>

In [26]:
print("This is my first name: " , name)

print("Full name:", name , end= " Duarte")

This is my first name:  Emmanuel
Full name: Emmanuel Duarte

##### String Concatenation

In [29]:
first_name="Emmanuel"
last_name= " Duarte"

full_name= first_name + last_name

print(full_name)

full_name += ", Jr."
print(full_name)

Emmanuel Duarte
Emmanuel Duarte, Jr.

##### Type Conversion

In [31]:
number="32"
string_number=int(number)
print(number)
print(string_number + 1)

32
33

##### input()

In [34]:
# name= input("What is your name? ")
# print("Nice to meet you, "+ name)
age= int(input("What is your age? "))
print(age + 5)

What is your age? 29
34

##### format()

In [41]:
age = input("What is your age? ")
# mystic_age="Your name is {} and you are {} years young." .format (name, age)
# print(mystic_age)
age_flirt= "{}, and looking sexy".format(age)
print(age_flirt)

What is your age? 29
29, and looking sexy

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [44]:
color= input("What's your fav Color car?")
make=input("What's the make of your fav car?")
model=input("What's the model?")
year=input("What year would it be?")
fav_car= "So your Favorite car is a {}, {}, {}, {}, hmmm? You got swag.".format(color, year, make, model)
print(fav_car)

What's your fav Color car?Gold
What's the make of your fav car?Honda
What's the model?Civic
What year would it be?2014
So your Favorite car is a Gold 2014 Honda Civic, hmmm? You got swag.

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1= int(input("What's your fave number? <3 " ))
num2= int(input("What's your 2nd fave number? UwU"))

if num1 < num2:
    print("Your Second Fav number is actually way better that the 1st")
elif num2 < num1:
    print("This is def the best number no doubt.")
elif num2 == num1:
    print("same number silly billy")

##### 'is' keyword

In [67]:
# is keywor is for checking the same object but not the same keyword
num3= "55"

if num3 == "55":
    print("This is the exact number/ obj")

This is the exact number/ obj

##### 'in' keyword

In [70]:
#will check if a character is in a string
character_name= "Frodo"
if "Frodoo" in character_name:
    print("Boy has BDE")
else:
    print("Small pp NRG")

Small pp NRG

##### 'not in' keyword'

In [75]:
sonic_char = "Sonic"
if "Soc" in sonic_char:
    print("You have a son in you")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [77]:
fav_pie= input("Tell me your fave type of pie")

if "P" in fav_pie:
    print("You got P in your Pie!")
else:
    print("No P for U ")

Tell me your fave type of piePerry Pie
You got P in your Pie!

## Using 'and'/'or' with If Statements

In [80]:
num_11=15
num_12=3
num_13=10
num_14=3

# If with and statement 

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
if num_11 > num_12 or num_13 == num_14:
    print("Tue and False")

True and True
Tue and False

### Elif Statements

In [81]:
first_name= input("What is your name?")
if first_name == "Smith":
    print("Your name is Smith")
elif first_name == "EZ":
    print("Your name is EZ")
elif first_name != "Max":
    print("Your name is NOT Max")
elif first_name == "Max":
    print("Sup Max")

What is your name?Max
Sup Max

### Else Statements

In [ ]:
# see above

### For Loops

In [82]:
name="Emmanuel Duarte"
for i in name:
    print(i)

E
m
m
a
n
u
e
l

D
u
a
r
t
e

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [83]:
for i in range(20):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [84]:
for i in range(20):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [24]:
name="EZ"
for i in name:
    pass

##### Double For Loops

In [85]:
for i in range (5):
    for j in range(5):
        print("i = ", i + 1, "j = ", j + 1)

i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  1 j =  5
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  2 j =  5
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  3 j =  5
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4
i =  4 j =  5
i =  5 j =  1
i =  5 j =  2
i =  5 j =  3
i =  5 j =  4
i =  5 j =  5

### While Loops

In [86]:
num=0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [88]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input ("wanna stop?")
    if user_input == "Yes":
        game_over= False

Infinite Loop
wanna stop?n
Infinite Loop
wanna stop?m
Infinite Loop
wanna stop?m
Infinite Loop
wanna stop?m
Infinite Loop
wanna stop?m
Infinite Loop
wanna stop?Yes

##### While & For Loops Used Together

In [91]:
num = 0 

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i+1))
        
        num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [92]:
# range (Start, Stop , Step)
for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [97]:
name = "EMmanuel Duarte"

length = len (name)
print(length)

15

##### help()

In [95]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [100]:
num=4.5
if isinstance (num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [101]:
print(abs (-5))

5

### Try and Except

In [103]:
# use this to log out grace and useful error messages 
# does not stop the program
try:
    input_num = int(input("guess a number"))
    print("your num is: " + str(input_num))
except:
    print ("Thats not a number!")

guess a numberyi
Thats not a number!

In [4]:
list_1 = []

names= ["Max", "Cindy", "Kathy", "Bob", "Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Declaring Lists

In [109]:
# start: Stop: Step:
#  single index
print(names[1:])

print(names)

['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [110]:
print(names[:2])

print(names[2::1])

print(names[::-1])

['Max', 'Cindy']
['Kathy', 'Bob', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [7]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Bob', 'Nate', 'Brano', 'Brandon']

##### .insert()

In [113]:
names.insert(3, "Devon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon', 'Brandon']

##### .pop()

In [8]:
my_name = names.pop(2)
print(my_name)
print(names)

Bob
['Max', 'Cindy', 'Nate', 'Brano', 'Brandon']


##### .remove()

In [10]:
names.remove("Brano")
print(names)

['Max', 'Cindy', 'Nate', 'Brandon']

##### del()

In [11]:
# goes by index, can cause index errors if not used carefully

del(names[1])
print(names)

['Max', 'Nate', 'Brandon']

##### Concatenating Two Lists

In [14]:
names=["Max", "Sam", "Sue"]
names2=["John", "Mike", "Josh"]

large_names= names + names2

print(large_names)

['Max', 'Sam', 'Sue', 'John', 'Mike', 'Josh']

##### Lists Within Lists

In [17]:
# lists can hold any kind of data type including other lists, these are called nested lists

names=["Max", "Sam", "Sue", ["John", "Mike", "Josh"]]
print(names[3][2])

Josh

##### Looping Through Lists

In [20]:
# two ways to loop through lists, using index and also using the "in" keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# loop with "in"

for i in names:
    print(i)

Max
Sam
Sue
['John', 'Mike', 'Josh']
Max
Sam
Sue
['John', 'Mike', 'Josh']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [30]:
for i in range (1,11):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [47]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for num in range(2, 101):
        for i in range (2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [5]:
age= int(input("How Old are you?" ))

if age < 18:
    print("Kids")
elif age > 18 and age < 65:
    print("Adults")
else:
    print("Seniors")

How Old are you?66
Seniors